/* Footer general */
.footer-container {
    background-color: #1E2A38;
    color: white;
    font-family: "Saira";
    padding: 2rem;
    border-top: 5px solid #3B82F6;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.footer-subheading {
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subcategory {
    list-style-type: none;
    padding-left: 0;
}

.footer-link {
    color: #B0BEC5;
    font-size: 1rem;
    transition: color 0.3s ease;
    text-decoration: none;
}

.footer-link:hover {
    color: #3B82F6;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-heading {
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.socials a {
    color: #B0BEC5;
    font-size: 1.3rem;
    transition: color 0.3s ease;
    margin: 0.5rem;
}

.socials a:hover {
    color: #3B82F6;
}

.footer-copyright {
    background-color: #1E2A38;
    color: #B0BEC5;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    .footer-content {
    grid-template-columns: 1fr 1fr;
    }

    .footer-subheading {
    font-size: 1.15rem;
    }

    .subcategory li {
    font-size: 0.95rem;
    }

    .socials {
    grid-column: span 2;
    text-align: center;
    }
}

@media (max-width: 768px) {
    .footer-content {
    grid-template-columns: 1fr;
    }

    .footer-heading, .footer-subheading {
    font-size: 1rem;
    }

    .footer-copyright {
    font-size: 0.75rem;
    }

    .socials a {
    font-size: 1.5rem;
    }

    .footer-link {
    font-size: 0.9rem;
    }

    .category-item {
    margin-bottom: 1.5rem;
    }
}
